<h1>Available seat</h1>
<div class="row justify-content-end">
  <div class="col-md-4">
    <div class="input-group date">
      <input type="text" class="form-control" value="12-02-2012">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group date">
      <input type="text" class="form-control" value="12-02-2012">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="input-group-append ml-2">
      <%= submit_tag "Filter", class: "btn btn-outline-secondary" %>
    </div>
  </div>

</div>

</div>

<div class="row">
    <div class="row">
      <% @seats.each do |row| %>
        <% @user_seat = @user_seats[row.id] %>
        <div class="col-md-2 mb-4">
          <!-- Grid item <%= row.id %> -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Seat number <%= row.number %></h5>
              <p class="card-text">Status: <% status = ['Available', 'Booked'].sample %>
                <% if @user_seat %>
                  <span style="color: green;"><%= status %></span>
                <% else %>
                  <span style="color: red;"><%= status %></span>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row spacer"></div>
    <div class="spacer"></div>
</div>

