<tr id="<%= dom_id department %>">
  <td><%= department.id %></td>
  <td><%= department.name %></td>
  <td>
    <%= link_to "Show", department, class: "btn btn-primary btn-sm" %>
    <%= link_to "Edit", edit_department_path(department), class: "btn btn-secondary btn-sm" %>
    <%= link_to "Delete", department, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
  </td>
</tr>